pkgbase = libfprint-ft9201
	pkgdesc = Proprietary driver for FocalTech FT9201 fingerprint readers
	pkgver = 1.94.4_20250219
	pkgrel = 1
	url = https://github.com/ryenyuku/libfprint-ft9201
	arch = x86_64
	groups = fprint
	license = unknown
	makedepends = tar
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libgusb
	depends = openssl
	depends = pixman
	depends = nss
	optdepends = fprintd: D-Bus service to access fingerprint readers
	provides = libfprint-2.so
	provides = libfprint=1.94.4
	conflicts = libfprint
	source = libfprint-2.so.2.0.0
        source = libgusb.so.2
        source = 60-libfprint-2.rules
	sha256sums = 33be46c6ed984a81380d3dfb80f88cdde0057043992e3d86767501bf4a6698ed
        sha256sums = 7e41d014028719faf42463a227ba25e60049dfabcfc520e89c2de77a580d8762
        sha256sums = 34cc642650e74033f6ac4199b6a27f15e792252779e015248e8725ba36324f1a

pkgname = libfprint-ft9201
