pkgbase = libfprint-ft9201
	pkgdesc = Proprietary driver for FocalTech FT9201 fingerprint readers
	pkgver = 1.94.4_20250219
	pkgrel = 1
	url = https://github.com/ryenyuku/libfprint-ft9201
	arch = x86_64
	groups = fprint
	license = unknown
	makedepends = tar
	depends = gcc-libs
	depends = glib2
	depends = glibc
	depends = libgudev
	depends = libgusb
	depends = openssl
	depends = pixman
	depends = nss
	optdepends = fprintd: D-Bus service to access fingerprint readers
	provides = libfprint-2.so
	provides = libfprint=1.94.4
	conflicts = libfprint
	source = libfprint-2-2_1.94.4+tod1-0ubuntu1~22.04.2_amd64_20250219.deb
	sha256sums = fe8c5ebb685718075e1fc04f10378c001e149b80c283d2891318a50e0588401a

pkgname = libfprint-ft9201
